<ion-view view-title="Chat">

  <ion-content>
    <div id="videoChat">
      <video id="remoteVideo" autoplay></video>
      <div id="localVideoCircle">  
        <video id="localVideo" autoplay></video>
      </div>
    </div>
  </ion-content>

  <div id="textChat">
    <div class="col message" ng-repeat="message in messages">
      {{ message.user}}: {{ message.text }}
    </div>
    
  <div class="col">
    <form name="msgForm" ng-submit="sendMessage(msg); msg = '';">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="messageInput" type="text" name="msg" ng-model="msg" placeholder="Type a message">
        </label>
      </div>
    </form>
  </div>

</ion-view>
