.flag-icon {
  float: left;
  position: relative;
  display: inline-block;
  width: 1.3333333333333333em;
  height: 1.3333333333333333em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-us {
  background-image: url(./flags/4x3/us.svg);
}
.flag-icon-cn {
  background-image: url(flags/4x3/cn.svg);
}
.flag-icon-es {
  background-image: url(flags/4x3/es.svg);
}
.flag-icon-fr {
  background-image: url(flags/4x3/fr.svg);
}
.flag-icon-it {
  background-image: url(flags/4x3/it.svg);
}
.mdi {
  float: right;
}

#videoChat {
  position: relative;
  width: 100%;
  height: 90%;
}

#remoteVideo {
  top: 0;
  width: 100%;
}

#localVideoCircle {
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 5px solid white;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

#localVideo {
  position: absolute;
  width: 280px;
  height: 280px;
  top: -70px;
  left: -70px;
}
