<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search languages"  ng-model="searchText">
      </label>
    </div>

    <ion-list>
      <ion-item class="item item-icon-left" ng-repeat="language in languages | filter:searchText" type="item-text-wrap" ng-click="userSelect(language)">
        <i class="icon flag-icon flag-icon-{{ language[1] }}"></i>
        <div class="lang">{{language[0]}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>






<!-- <ion-view view-title="Home">

  <ion-content>
    <md-subheader style="background-color: #EEEEEE" class="md-accent"><span>Native Language</span></md-subheader>
    <md-input-container flex columns="1" class="md-accent">
      <label>Language</label>
      <input placeholder="Select native language" ng-model="searchText">
    </md-input-container>


  <md-content style="background-color:#EEEEEE">
      <md-card ng-repeat="language in languages | filter:searchText">
        <md-button class="md-raised" ng-click="userSelect(language)">
          <span class="flag-icon flag-icon-{{ language[1] }}"></span>
          <span class="lang">{{language[0]}}</span>
          <span class="mdi mdi-chevron-right"></span>
        </md-button>
      </md-card>
  </md-content>


  </ion-content>
</ion-view>
 -->