<ion-view view-title="Home">
  <ion-content>
    <md-input-container flex columns="1">
      <label>Language</label>
      <input placeholder="Select your native language" ng-model="searchText">
    </md-input-container>


  <md-content>
      <md-card ng-repeat="language in languages | filter:searchText">
        <md-button class="md-raised" ng-click="test(language)">
          <span class="flag-icon flag-icon-{{ language[1] }}"></span>
          <span class="lang">{{language[0]}}</span>
          <span class="mdi mdi-chevron-right"></span>
        </md-button>
      </md-card>
  </md-content>


  </ion-content>
</ion-view>   
