<ion-view view-title="Chat">
  <ion-content>

  <div id="videoChat">
    <video id="remoteVideo" autoplay></video>
    <div id="localVideoCircle">  
      <video id="localVideo" autoplay></video>
    </div>
  </div>

  <div id="chatMessages">
    <md-item ng-repeat="message in messages">
      <md-item-content>
      {{ message.text }}
      </md-item-content>
    </md-item>
  </div>

  <div>
    <form ng-submit="sendMessage()">
    <md-input-container flex columns="1">
      <input type="text" ng-model="newMessageText">
    </md-input-container>
    </form>
  </div>

  </ion-content>
</ion-view>
