<ion-view view-title="Chat">
  <ion-content>
  
  <div layout="row">
    <div id="videoChat">
      <video id="remoteVideo" autoplay></video>
      <div id="localVideoCircle">  
        <video id="localVideo" autoplay></video>
      </div>
    </div>
  </div>

  <div layout="row">
    <div id="chatMessages">
      <md-item ng-repeat="message in messages">
        <md-item-content>
        {{ message.user}}: {{ message.text }}
        </md-item-content>
      </md-item>
    </div>
  </div>
  
  <div layout="row">
    <form name="msgForm" ng-submit="sendMessage(msg); msg = '';">
    <md-input-container flex columns="1">
      <input type="text" name="msg" ng-model="msg">
    </md-input-container>
    </form>
  </div>

  </ion-content>
</ion-view>
