<ion-view view-title="Home">
  <ion-content ng-controller="language2Controller">
    <md-input-container flex columns="1">
      <label>Language</label>
      <input placeholder="Select learning language" ng-model="searchText">
    </md-input-container>


  <md-content>
      <md-card ng-repeat="language in languages | filter:searchText" ng-click="test(language)">
        <md-card-content>
          <p>{{language[0]}}</p>
        </md-card-content>
      </md-card>
  </md-content>


  </ion-content>
</ion-view>   