<ion-view view-title="Home">
  <ion-content ng-controller="language1Controller">
    <md-input-container flex columns="1">
      <label>Language</label>
      <input placeholder="Select your native language" ng-model="searchText">
    </md-input-container>


  <md-content>
      <md-card class="language-card" ng-repeat="language in languages | filter:searchText" ng-click="test(language)">
        <!-- <md-button class="md-raised"> -->
        <span class="flag-icon flag-icon-{{ language[1] }}"></span>
        <p>{{language[0]}}</p>
        <span class="mdi mdi-chevron-right"></span>
        <!-- </md-button> -->
      </md-card>
  </md-content>


  </ion-content>
</ion-view>   
